* {
  font-family: Arial, Helvetica, sans-serif;
}

#menu,
html,
body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: #2E7D32;
}

#menu{
  background-color: #9ED3DC;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

h1{
  font-size: 100px;
  margin: 60px
}

h2{
  font-size: 20px;
  margin: 0;
}

h1, h2 {
  color: #1A4A5A;
  text-align:center;
}

.buttons{
  display:flex;
  justify-content:space-evenly;
}

#game .buttons{
  flex-direction:column;
}

#menu button,
#menu p{  
  font-size:40px;
  padding: 20px;
  border-radius: 30px;
  color: #1A4A5A;
  background-color: #FEFD99;
}

#game button,
#game p{  
  font-size:20px;
  padding: 15px;
  border-radius: 20px;
  color:#FEFD99;
  background-color: #1A4A5A;
}

button,
p{
  background-color: white;
  margin: 0;
  border:0;
  display: flex;
  justify-content:center;
  align-items:center
}

button{
  cursor:pointer;
}

.compoundButton{
  display:flex;
  flex-direction:column;
}

#game .compoundButton p{
  border-radius: 0 0 15px 15px;
}

#menu .compoundButton p{
  border-radius: 0 0 30px 30px;
}

#game .compoundButton button{
  border-radius: 15px 15px 0 0;
}

#menu .compoundButton button{
  border-radius: 30px 30px 0 0;
}


#game{
  display:none;
  justify-content:space-evenly;
  height:100vh;
}

.pixel{
  background-color: #91E07B;
  height:3vh;
  width: 3vh;
}

.row{
  display: flex;
  justify-content:center;
}

#gridContainer{
  justify-content:center;
}

.r1.pixel{
  border-top:5px solid #2C2C2C
}

.r30.pixel{
  border-bottom:5px solid #2C2C2C
}

.c1.pixel{
  border-left:5px solid #2C2C2C
}

.c40.pixel{
  border-right:5px solid #2C2C2C
}